<div class="warpper">
    <h1>Sign in</h1>
    <% if (hasErrors) { %>
        <div>
          <% messages.forEach(function(message) { %>
            <p><%= message %></p>
          <% }); %>
        </div>
      <% } %>
    <form action="/signin" method="POST" class="rounded-form">
      <div class="input-container">
        <i class="fas fa-user"></i>
        <input type="email" name="email" placeholder="Email" /> <!-- Added name attribute -->
      </div>
      <div class="input-container">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" placeholder="Password" /> <!-- Added name attribute -->
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <button type="submit">Signin</button>
    </form>
  </div>