<footer class="footer">
    <div class="footer-div1">
      
        <div class="footer-div11">
            &copy; <%= new Date().getFullYear(); %> raddy
        </div>
         
        <div class="imagesd">
            <div>
                <img src="images/twiter.png" alt="">
             </div>
             <div>
                 <img src="images/twiter.png" alt="">
             </div>
             <div>
                 <img src="images/twiter.png" alt="">
             </div>
        </div>
       
    </div>
    

</footer>