

<header class="header">
  <div> <a href="" class="logo">Logo</a> </div>
  <div class="div-a">
    <nav class="header__nav">
      <a href="/">Home</a>
      <a href="/about">about</a>
      <a href="/course">course</a>
      <a href="/contact">contact</a>
     

      <% if (login) { %>
        <a href="/logout">logout</a>
        <a href="/profile"> <i class="fa-solid fa-user"></i></a>
        
      <% } else { %>
        <a href="/signup">Login</a>
      <a href="/signin">Register</a>
      <% } %>
     
       
        </a>
    </nav>
  </div>
 

  <div class="header__button">
  

      <a href="#">
        <i class="fa-sharp fa-solid fa-cart-shopping"></i>
       
      </a>
   
 <input type="text" class="searchbtn" aria-expanded="false"
  placeholder="Search"
  >

  </div>
</header>




